<html>
<body>
    <head>
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>
<div class="col-sm-6">
<img width="" src="http://68.media.tumblr.com/4a21e9f1cd46c1c18ee5faf204d7cab8/tumblr_oe30hx2uPL1u4gmt6o1_500.gif">
</div>
<div class="col-sm-6"><p>
    My real name is <b>Suwaphat Tanapakpolkul</b> <br>
     you can call me pond or whatever you want to call .<br>
    I'm 20 years and studying in faculty of science (com-sci major)
     <br>at <b>SWU(Srinakharinwirot University)</b> . 
    
</p>
</div>
</body>
</html>