
 <h2>My Favorite series ꈍ ꈊ ꈍ</h2>
  <ul>
    <li>{{seriesName}}</li>
    <p>{{Description}}</p><br>
    <img width="450" src="https://s-media-cache-ak0.pinimg.com/originals/f1/d2/ee/f1d2ee25909970fedfc95fda5353ebc3.gif
    "> <hr>
    <li>{{seriesName2}}</li>
    <p>{{Description2}}</p>
    <!--<img width="450" src="https://media.giphy.com/media/8tY2QitiSRoc0/giphy.gif">-->
    <img width="450" src="http://data.whicdn.com/images/59767843/original.gif">
    <hr>
    <li>{{seriesName3}}</li>
    <p>{{Description3}}</p>

    <img width="450" src="https://s-media-cache-ak0.pinimg.com/originals/57/0c/93/570c93dd300c3dd25a8500212ceffe1f.gif">

  </ul>


